.background-tile{
    margin-left:-12.5%;
    margin-right:-12.5%;
}
.fix-margin {
    margin-left:10%;
    margin-right:10%;
}
.paragraph{
    padding-bottom:24px;    
}
.subheader{
    padding-bottom:16px;
}

.centerText {
    text-align: center;
}

.img-wrapper {
    flex:auto;
    align-self:center;
    display: flex;
    height:100%;
    align-items: center;
}
.img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.flex-section { 
    display:flex;
    flex-direction: column;
}
.flex-section-paragraph {
    display:flex;
    margin-bottom:80px;
    margin-top:40px;
}

.flex-section-inner-paragraph {
    display:flex;
    flex-direction:column;
    justify-content:center;
    max-width:350px;
}

@media (max-width:660px) {
    .fix-margin {
        margin-left:2.5%!important;
        margin-right:2.5%!important;
    }
    .background-tile{
        margin-left:-2.632%!important; /*2.5/95*/
        margin-right:-2.632%!important;
    }
}