<div *ngIf="loaded">
  <section>
    <div style="max-width: 620px;">
      <h1>
        <div class="title">{{content.intro.title}}</div>
      </h1>
      <h2>
        <div class="subheader">{{content.intro.subheader}}</div>
      </h2>
      <div class="paragraph">
        <p>{{content.intro.paragraph}}</p>
      </div>
    </div>
    <div *ngIf="content.intro.button">
      <a aria-label="link opens in new tab" href="{{content.intro.buttonLink}}" target="_blank" style="text-decoration: none;">
        <app-button [buttonText]="content.intro.button"></app-button>
      </a>
    </div>
  </section>
  <div style="height:50px"></div>
  <section>
    <div class="flex-section" [ngClass]="{'background-tile':  content.section1.backgroundGradient }" [ngStyle]="{'background': content.section1.backgroundGradient}">
      <div [ngClass]="(content.section1.backgroundGradient)? 'fix-margin':''" style="margin-top:100px">
        <div class="img-wrapper" [ngStyle]="{'margin-right': (content.section1.bleedToEdge)?'-12.5%':'0px'}">
          <img class="img" [ngStyle]="{'max-height': content.section1.maxHeight}" [src]="this.imageSource[1]" [alt]="content.section1.imgAltText">
        </div>
        <div class="flex-section-paragraph" style="justify-content: flex-start;">
          <div class="flex-section-inner-paragraph">
            <h2>
              <div class="subheader" [ngStyle]="{'color':content.section1.textColor}">{{content.section1.header}}</div>
            </h2>
            <div class="paragraph" [ngStyle]="{'color':content.section1.textColor}">
              <p>{{content.section1.paragraph}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="flex-section" style="padding-top:100px;" [ngClass]="{'background-tile':  content.section2.backgroundGradient }"
      [ngStyle]="{'background': content.section2.backgroundGradient}">
      <div [ngClass]="(content.section2.backgroundGradient)? 'fix-margin':''">
        <div class="img-wrapper" [ngStyle]="{'margin-right': (content.section2.bleedToEdge)?'-12.5%':'0px'}">
          <img class="img" [ngStyle]="{'max-height': content.section2.maxHeight}" [src]="this.imageSource[2]" [alt]="content.section2.imgAltText">
        </div>
        <div class="flex-section-paragraph" style="justify-content: flex-start;">
          <div class="flex-section-inner-paragraph">
            <h2>
              <div class="subheader" [ngStyle]="{'color':content.section2.textColor}">{{content.section2.header}}</div>
            </h2>
            <div class="paragraph" [ngStyle]="{'color':content.section2.textColor}">
              <p>{{content.section2.paragraph}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>