.navBar {
    /* position: absolute; */
    /* right: 0px; */
    height:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navButton {
    color: #FD5D44;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;	
    line-height: 25px;
    height: 25px;


}
.previous-next{
    display: flex;
    flex-direction: row;
    flex-grow:2;
    justify-content: center;
}

.prev {
    margin-left: 50px;
    margin-right:25px;
}
.next {
    margin-left: 25px;
    margin-right:50px;
}

@media(max-width:770px) {
    .change-footer{
        display:none;
    }
    .previous-next{
        justify-content: space-between;
    }
    
    .prev {
        margin-left: 0px;
        margin-right:25px;
    }
    .next {
        margin-left: 25px;
        margin-right:0px;
    }
}