.navBar {
    /* position: absolute; */
    /* right: 0px; */
    height:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navButton {
    color: #E53434;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;	
    line-height: 25px;
    height: 25px;


}
.previous-next{
    display: flex;
    flex-direction: row;
    flex-grow:2;
    justify-content: center;
}

@media(max-width:660px) {
    .scroll-to-top {
        display:none;
    }
    .previous-next{
    }
}