<div class="navBar" id="navBar">
   
  <a    [ngClass]="(isProjectPage)?'change-footer':''"
  aria-label="link opens in new tab" class="navButton" href="mailto:hello@maireadmurphy.com" 
    target="_blank" style="text-decoration: none;">Email</a>
  <div *ngIf="isProjectPage" class="previous-next">
    <a  class="navButton prev" 
      routerLink="/project/{{previousProjectId}}">Previous</a>
    <a  class="navButton next" 
      routerLink="/project/{{nextProjectId}}">Next</a>
  </div>
  
  <div [ngClass]="(isProjectPage)?'change-footer':''" >
    <button aria-label="scrolls user to the top of the page" class="navButton" (click)="scrollToTop()">Top</button>
  </div>
</div>