
.button{
    height: 48px;	
    width: 170px;	
    border-radius: 28px;	
    background-color: #E53434;

    color: white;

    cursor: pointer;
    font-size: 14px;	
    font-weight: bold;	
    letter-spacing: 0.78px;	
    line-height: 48px;	
    text-align: center;
    font-weight: bold;
    font-style: normal;

}