
.button {
    height: 48px;	
    width: 170px;	
    border-radius: 28px;	
    background-color: #FD5D44;

    color: white;

    cursor: pointer;
    font-size: 14px;	
    font-weight: bold;	
    letter-spacing: 0.78px;	
    line-height: 48px;	
    text-align: center;
    font-weight: bold;
    font-style: normal;

}

@media (max-width: 770px)
{
    .button{
        /* width:100%; */
        font-size:16px;
    }

}

