
.button{
    font-family: Futura, Arial, Helvetica, sans-serif;

    background-color: #E53434;
    border: none;
    color: white;
    display:flex;

    text-decoration: none;
    cursor: pointer;
    border-radius: 16.5px;
    height: 28px;
    padding-right: 14px;
    padding-left:14px;
    padding-top:7px;
    padding-bottom:7px;
    text-align:center;

}