<div *ngIf="loaded">

    <div style="display:flex;flex-direction: row">
        <img style="box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);" height="410px" width="362px" src="{{content.section1.image}}">
        <div style="display:flex;flex-direction:column;padding-left:58px;">
            <div class="title">{{content.section1.title}}</div>
            <div class="subheader">{{content.section1.subHeader}}</div>
            <div class="paragraph" style="padding-bottom:50px;">{{content.section1.paragraph1}}</div>
            <div class="paragraph">{{content.section1.paragrah2}}</div>
        </div>
    </div>

    <div style="height:50px"></div>
    <div style="display:flex;flex-direction:column;margin-right:45px;">
        <div class="subheader">{{content.section2.subHeader}}</div>
        <div class="paragraph">{{content.section2.paragraph1}}</div>

    </div>
    <div style="height:50px"></div>
    <div style="display:flex;flex-direction:row">
        <div style=" display:flex;flex-direction:column;margin-right:182px;width:400px;">
            <div class="subheader " style="margin-bottom:16px;">{{content.section3.subHeader}}</div>
            <div *ngFor="let exp of content.section3.experience " style="margin-bottom:32px;">
                <div style="color: #E53434;font-size: 20px;	font-weight: bold;font-style:normal;line-height: 25px;margin-bottom:8px;">{{exp.companyName}}</div>
                <span style="color: #231F20;font-size: 18px;font-weight: bold;font-style:normal;margin-right:8px;">{{exp.time}}</span>
                <span style="color: #231F20;font-size: 18px;font-weight: 300;font-style:normal;">{{exp.title}}</span>
            </div>

        </div>
        <div style="width:340px;color:#231F20;font-size:20px;font-weight:bold;line-height:25px;">
            {{content.section3.paragraph1}}
            <a href="{{content.section3.paragraph2link}}" target="_blank" style="text-decoration: underline;">
                {{content.section3.paragraph2}}
            </a> {{content.section3.paragraph3}} 
            <a  href="{{content.section3.paragraph4link}}" target="_blank" style="text-decoration: underline;">
                {{content.section3.paragraph4}}</a> 
        </div>

    </div>
    <div style="height:200px"></div>