<div *ngIf="loaded" class="marginSetup">
    <main>
        <div class="borderSetup">
            <div class="x-wrapper">
                <div class="x-icon" [routerLink]="'/home'"></div>
            </div>
            <div style="display:flex;flex-direction: row;height:100%;justify-content:center;">
                <img [alt]="content.section1.imgAltText" class="aboutImage" style="box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);border-radius: 3px;margin-right:58px;"
                    height="410px" width="362px" src="{{content.section1.image}}">
                <div style="display:flex;flex-direction:column;max-width:410px;">
                    <h1>
                        <div class="subheader" style="color:white;padding-bottom:23px;">{{content.section1.subHeader}}</div>
                    </h1>
                    <p class="paragraph">{{content.section1.paragraph1}}</p>
                    <p class="paragraph">{{content.section1.paragraph2}}</p>
                    <div class="span">
                        <p>{{content.section1.paragraph3}}</p>

                        <a href="{{content.section1.span1Link}}" target="_blank" style="text-decoration: underline;color:white;">
                            <p>{{content.section1.span1}}</p>
                        </a>
                        <p>{{content.section1.span2}}</p>

                        <a href="{{content.section1.span3Link}}" target="_blank" style="text-decoration: underline;color:white;">
                            <p>{{content.section1.span3}}</p>
                        </a>

                        <p>{{content.section1.span4}}</p>
                        <a href="{{content.section1.span5Link}}" target="_blank" style="text-decoration: underline;color:white;">
                            <p>{{content.section1.span5}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>