<div style="height: 103.5px;width: 155px;border-radius: 10px 10px 0 0;background-color: #7E25C4;"></div>
<div style="height: 130.5px;width: 155px;">
        <div style="height: 130.5px;width: 155px;transform: rotate(180deg);border-radius: 10px 10px 0 0;background-color: #F2F2F2;">
                <div style="transform: rotate(180deg);">
                        <div style="padding-left:15px;height: 64px;width: 100px;color: #0F2666;	font-size: 16px;font-weight: bold;	line-height: 22px;">
                                Pensions & older people
                        </div>
                        <div style="padding-left:15px;"><b>Hex</b> #7D2FC1</div>
                        <div style="padding-left:15px;padding-bottom: 15px"><b>RGB</b> 125, 47, 193</div>
                </div>
        </div>

</div>