.contentTile{
    max-width:265px;
}
.role{
    font-size: 17px;	
    font-weight: 300;
    font-style: normal;
    line-height: 22px;
}

.summary{
    font-size: 18px;	
    font-weight: 300;
    font-style: normal;
    
}
.subheader{
    font-size: 36px;	
    font-weight: bold;
    font-style: normal;
    line-height: 46px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 25px;
}