.app-root{
    overflow-x: hidden;
    font-family:CircularStd, sans-serif;
    padding-left:10%;
    padding-right:10%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: pre-wrap;
}



@media (max-width:660px) {
    .app-root{
        padding-left:2.5%;
        padding-right:2.5%;
    }
}