.logo{
    height: 53.86px;	
    width: 57.94px;
    background: url("../assets/Mairead-logo-01.svg") no-repeat;
    display: inline-block;
    margin-left:19px;
    cursor: pointer;
}
.logo:hover {
    cursor: pointer;
    background: url("../assets/Mairead-logo-hover-02.svg") no-repeat;
}
paragraph{
    color: #231F20;	
    font-size: 18px;	
    font-weight: 300;
    font-style: normal;
    
}
.subheader{
    color: #231F20;	
    font-size: 36px;	
    font-weight: bold;
    font-style: normal;
    line-height: 46px;
}
.title {
    color: #231F20;	
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 25px;
}