
.paragraph{
    color: #231F20;	
    font-size: 18px;	
    font-weight: 300;
    font-style: normal;
    padding-bottom:24px;    
}
.subheader{
    color: #231F20;	
    font-size: 36px;	
    font-weight: bold;
    font-style: normal;
    line-height: 46px;
    padding-bottom:16px;
}
.title {
    color: #231F20;	
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 25px;
    padding-bottom: 8px;
}

.centerText {
    text-align: center;
}
.img {
    object-fit: contain;
    width: 100%;
}