<div *ngIf="loaded">
  <div style="max-width: 620px;">
    <div class="title">{{content.intro.title}}</div>
    <div class="subheader">{{content.intro.subheader}}</div>
    <div class="paragraph">{{content.intro.paragraph}}</div>
  </div>

  <div *ngIf="content.intro.button">
  <a  href="{{content.intro.buttonLink}}" target="_blank" style="text-decoration: none;">
    <app-button [buttonText]="content.intro.button"></app-button>
  </a></div>

  <div style="height:143px"></div>

  <div style="display:flex;flex-direction: row">
    <div style="display:flex;flex-direction:column;justify-content:center;max-width:306px;margin-right:111px;">
      <div class="subheader">{{content.section1.header}}</div>
      <div class="paragraph">{{content.section1.paragraph}}</div>
    </div>
    <img class="img" src="{{content.section1.image}}">
  </div>

  <div style="height:245px"></div>

  <div style="display:flex;flex-direction: row">
    <img class="img" src="{{content.section2.image}}">
    <div style="display:flex;flex-direction:column;justify-content:center;max-width:306px;margin-left:48px">
      <div class="subheader">{{content.section2.header}}</div>
      <div class="paragraph">{{content.section2.paragraph}}</div>
    </div>
    
  </div>
  <div style="height:300px"></div>

  <div style="display:flex;flex-direction: column;justify-content:center;align-items:center;">
    <div style="max-width:550px;">
      <div class="subheader centerText">{{content.section3.header}}</div>
      <div class="paragraph centerText">{{content.section3.paragraph}}</div>
    </div>

    <div >
      <img class="img"src="{{content.section3.image}}">
    </div>
  </div>
</div>