.navBar {
    margin-top: 31px;
}
.navButton {
    color: #E53434;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;	
    line-height: 25px;
    height: 25px;	
    width: 56px;

}

/* .sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
  } */