.navBar {
    margin-top: 31px;
}
.navButton {
    color: #FD5D44;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;	
    line-height: 25px;
    height: 25px;	
    width: 56px;

}