.header{
    font-family: Futura, Arial, Helvetica, sans-serif;
    font-size: 36px;	
    font-weight: bold;	
    line-height: 46px;
}
.navText{	
    color: #E53434;	
    text-decoration: underline;
}

.hi{
    color: #231F20;	
    font-family: Futura, Arial, Helvetica, sans-serif;
    font-size: 20px;	
    font-weight: bold;	
    line-height: 25px;
    margin-bottom:14px;
}