
.navText{	
    color: #FD5D44;	
    text-decoration: underline;
    cursor: pointer;
}



.paragraph{
    color: #231F20;	
    font-size: 18px;	
    font-weight: 300;
    font-style: normal;
    
}
.subheader{
    color: #231F20;	
    font-size: 36px;	
    font-weight: bold;
    font-style: normal;
    line-height: 46px;
    
}
.title {
    color: #231F20;	
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 25px;
    margin-bottom:14px;

}