<div [ngStyle]="{'background-image': getUrl()}">
  <div id={{id}} class="contentTile">
    <div class="intro">
      <div class="text">
        <h1> {{ content.title }} </h1>
        <h2> {{ content.role }} </h2>
        <p> {{ content.description }} </p>
      </div>
      <a routerLink="/project/{{id}}">
      <div *ngIf="content.buttons" style="display: flex;flex-flow: row wrap;">
        <div style="text-align:center;margin:auto;">{{ content.buttons }}</div>

      </div></a>
    </div>
  </div>
</div>