/* You can add global styles to this file, and also import other style files */

  @font-face {
    font-family: 'CircularStd';
    src: url('assets/fonts/LLCircularStd/CircularStd-Black.otf') format("opentype");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('assets/fonts/LLCircularStd/CircularStd-BlackItalic.otf') format("opentype");
    font-style: italic;
    font-weight: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('assets/fonts/LLCircularStd/CircularStd-Bold.otf') format("opentype");
    font-style: normal;
    font-weight: bold;
  
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('assets/fonts/LLCircularStd/CircularStd-BoldItalic.otf') format("opentype");
    font-style: italic;
    font-weight: bold;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('assets/fonts/LLCircularStd/CircularStd-Medium.otf') format("opentype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('assets/fonts/LLCircularStd/CircularStd-MediumItalic.otf') format("opentype");
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('assets/fonts/LLCircularStd/CircularStd-Book.otf') format("opentype");
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('assets/fonts/LLCircularStd/CircularStd-BookItalic.otf') format("opentype");
    font-style: italic;
    font-weight: 300;
  }
h1 {
    margin-block-start: unset;
    margin-block-end: unset;
    font-size: unset;
    font-weight: unset;
    display: unset;
}

h2 {
    margin-block-start: unset;
    margin-block-end: unset;
    font-size: unset;
    font-weight: unset;
    display: unset;
}

h3 {
  margin-block-start: unset;
  margin-block-end: unset;
  font-size: unset;
  font-weight: unset;
  display: unset;
}

p {
  margin-block-start: unset;
  margin-block-end: unset;
  font-size: unset;
  font-weight: unset;
  display: unset;
}

.paragraph{
  color: #231F20;	
  font-size: 18px;	
  font-weight: 300;
  font-style: normal;
  
}
.subheader{
  color: #231F20;	
  font-size: 36px;	
  font-weight: bold;
  font-style: normal;
  line-height: 46px;
}
.title {
  color: #231F20;	
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 25px;
}